@charset "utf-8";
@import url(iconfont/iconfont.css);
body{background-color:#f0f0f0;font-family:'Microsoft YaHei','Helvetica','宋体';font-size:14px;padding:0px;margin:0px auto;color:#333;text-align:center}
body{min-width:320px;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
*:focus{outline:none}
.clear{clear:both;height:0;width:1px;font-size:1px;visibility:hidden;}
.clearboth{clear:both}
label{cursor:pointer}
ul,em,i,dl,dt,dd,hr,h1,h2,h3,h3,h4,h5,h6,strong{font-style:normal;font-weight:normal;margin:0px;padding:0px;display:block}
ul,li,img,form,p{margin:0px;padding:0px;border:0px}
li{list-style-type:none;display:block}
*:focus {outline: none}
td{font-size:14px;color:#333}
.in0{box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box}
h1,h2,h3,h4,h5,h6,hr,p{margin:0;padding:0;word-wrap:break-word}

/*A标签部分*/
a{text-decoration:none;color:#333;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a.a000{color:#000;}a.a000:hover{color:#ff6600;}
a.a333{color:#333;}a.a333:hover{color:#1438ce;}
a.a666{color:#666;}a.a666:hover{color:#1438ce;}
a.a999{color:#999;}a.a999:hover{color:#ff6600;}
a.a09f{color:#09f;}a.a09f:hover{color:#037afe;}
a.blue{color:#459ae9;}a.blue:hover{color:#f60;}
a.red{color:#f00;}a.red:hover{color:#000;}


/*字体大小颜色*/
h1{font-size:32px}
h2{font-size:24px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
.B{font-weight:bold}.noB{font-weight:normal}
.blue{color:#459ae9}
.Cfff{color:#fff}
.Cf00{color:#f00}
.Cfc0{color:#fc0}
.Cf60{color:#f60}
.C00f{color:#00f}
.C00c{color:#00c}
.C09f{color:#09f}
.Cc03{color:#c03}
.C090{color:#090}
.Cccc{color:#ccc}
.Caaa{color:#aaa}
.C999{color:#999}
.C666{color:#666}
.C333{color:#333}
.C000{color:#000}
.C8d{color:#8d8d8d}
.Cf0f{color:#f0f}
.Chong{color:#E83191}.Clan{color:#459ae9}
.S12{font-size:12px}.S14{font-size:14px}.S16{font-size:16px}.S18{font-size:18px}.S24{font-size:24px}.S30{font-size:30px}
.ico,.ico2{font-family:"iconfont" !important;font-style:normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;display:inline-block}
.ico2{font-family:"iconfont2" !important;}
.sexbg1{background-color:#E6F4FE}
.sexbg2{background-color:#FCEFF4}


.FL{float:left}.FR{float:right}.block,a.block{display:block}
.Mtop0{margin-top:0px}.Mtop10{margin-top:10px}.Mtop20{margin-top:20px}.Mtop30{margin-top:30px}.Mtop50,div.Mtop50{margin-top:50px}.Mtop100,div.Mtop100{margin-top:100px}.Mtop150{margin-top:150px}.Mbottom0{margin-bottom:0px}.Mbottom10{margin-bottom:10px}.Mbottom20{margin-bottom:20px}.Mbottom50{margin-bottom:50px}.Mright10{margin-right:10px}.Mright20{margin-right:20px}
.left{text-align:left}.center{text-align:center}.middle{vertical-align:middle}.Mcenter,a.Mcenter,button.Mcenter{margin:0 auto}
.W80_{width:80%}.W85_{width:85%}.W90_{width:90%}.W95_{width:95%}.W98_{width:98%}.W100_{width:100%}
.W30{width:30px}.W50{width:50px}.W75{width:75px}.W80{width:80px}.W100{width:100px}.W150{width:150px}.W200{width:200px}.W250{width:250px}.W300{width:300px}.W400{width:400px}.W500{width:500px}.W600{width:600px}.W700{width:700px}.W900{width:900px}.W1200{width:1200px}
.lineH150{line-height:150%}.lineH200{line-height:200%}
.zoom{cursor:zoom-in}.zoom150{zoom:150%}.hand{cursor:pointer}.not-allowed{cursor:not-allowed}

/**暂无样式**/
.nodatatips,.nodatatipsS{text-align:center;color:#999;}
.nodatatips{width:250px;margin:80px auto;padding:45px;font-size:14px;line-height:200%}
.nodatatipsS{width:100px;margin:10px auto;padding:20px;font-size:12px;line-height:150%}
.nodatatips i,.nodatatipsS i{color:#ccc;font-size:50px;display:block;line-height:50px}
.nodatatips i{font-size:50px;line-height:50px}
.nodatatipsS i{font-size:50px;line-height:50px}

/******Button******/
.btn{vertical-align: middle;outline:0;background-color:#009688;white-space:nowrap/*;box-sizing:border-box*/;border-radius:2px;height:30px;line-height:30px;color:#fff;padding:0 10px;font-size:12px;cursor:pointer;border:0;display:inline-block;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;-webkit-user-select:none;-webkit-appearance:none}
.btn:hover{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8}
.yuan{border-radius:100px}
input.center{margin:0 auto;display:block}
.size1{height:22px;line-height:23px;padding:0 5px}
.size2{height:30px;line-height:30px;padding:0 10px}
a.size3,button.size3,div.size3{height:38px;line-height:38px;padding:0 18px;font-size:16px}
.size4{height:50px;line-height:50px;padding:0 25px;font-size:18px}
.size5{height:55px;line-height:55px;padding:0 25px;font-size:18px}
.HUANG{background-color:#f47904}.HUANG2{background-color:#FFB800}.HUANG3{background-color:#FF5722}
.HONG{background-color:#E83191}.HONG2{background-color:#EE5A4E}.HONG3{background-color:#FD66B5}.HONG4{background-color:#F7564D}.HONG5{background-color:#FF5065}
.LAN{background-color:#196baa}.LAN2{background-color:#1E9FFF}
.LV{background-color:#369c13}.LV2{background-color:#45C01A}
.QING{background-color:#009688}.QING2{background-color:#009bc3}
.HUI{background-color:#999}
.BAI{background-color:#fff;color:#333;border:#c9c9c9 1px solid}
.HEI{background-color:#000}
.ZI{background-color:#dd01dd}
.disabled{background-color:#F7F7F7;color:#bbb;border:#ddd 1px solid;cursor:not-allowed}
/*A button*/
a.aHUI,a.aLAN,a.aHUANG,a.aHONG,a.aLV,a.aZI,a.aHEI,a.aJIN,a.aQING{white-space:nowrap;box-sizing:border-box;border-radius:13px;padding:2px 10px;font-size:12px;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
a.aHUI{background-color:#f9f9f9;border:#ccc solid 1px;color:#888}a.aHUI:hover{background-color:#efefef}
a.aLAN{background-color:#e3f4ff;border:#84cdff solid 1px;color:#2484dd;}a.aLAN:hover{background-color:#cfebff}
a.aHUANG{background-color:#fffbe7;border:#ffbc36 solid 1px;color:#f50;}a.aHUANG:hover{background-color:#ffebaf}
a.aJIN{background-color:#ff0;border:#fc0 solid 1px;color:#f50;}a.aJIN:hover{background-color:#ffc}
a.aHONG{background-color:#ffe2e2;border:#ffaaae solid 1px;color:#f00;}a.aHONG:hover{background-color:#ffd0d0}
a.aLV{background-color:#f0fde6;border:#9cdaa3 solid 1px;color:#55ac55;}a.aLV:hover{background-color:#defac8}
a.aZI{background-color:#fce1fc;border:#ffacff solid 1px;color:#f0f;}a.aZI:hover{background-color:#ffd3ff}
a.aHEI{background-color:#eee;border:#666 solid 1px;color:#000;}a.aHEI:hover{background-color:#ddd}
a.aQING{background-color:#e5f5f3;border:#3BAB9F solid 1px;color:#009688;}a.aQING:hover{background-color:#bde8e4;color:#046960}

a.aHUIed,a.aLANed,a.aHUANGed,a.aHONGed,a.aHONG2ed,a.aLVed,a.aZIed,a.aHEIed,a.aJINed,a.aQINGed{border-radius:13px;padding:3px 12px;color:#fff;font-size:12px;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
a.aHUIed{background-color:#aaa}a.aHUIed:hover{background-color:#999}
a.aLANed{background-color:#349ae1}a.aLANed:hover{background-color:#0f7cc8}
a.aHUANGed{background-color:#f80}a.aHUANGed:hover{background-color:#f50}
a.aJINed{background-color:#fc0}a.aJINed:hover{background-color:#fa0}
a.aHONGed{background-color:#f00}a.aHONGed:hover{background-color:#B31B25}
a.aHONG2ed{background-color:#EE5A4E}a.aHONG2ed:hover{background-color:#f00}
a.aLVed{background-color:#45C01A}a.aLVed:hover{background-color:#32a00b}
a.aZIed{background-color:#dd01dd}a.aZIed:hover{background-color:#bf00bf}
a.aHEIed{background-color:#333}a.aHEIed:hover{background-color:#000}
a.aJINed{background-color:#fc0;color:#f60}a.aHEIed:hover{background-color:#c00}
a.aQINGed{background-color:#009688;color:#fff}a.aQINGed:hover{background-color:#03786d}

/*会员组图标*/
.ugrade1,.ugrade2,.ugrade3{vertical-align:middle}
.ugrade1{width:20px;height:20px}.ugrade2{width:30px;height:30px}.ugrade3{width:40px;height:40px}

/*返顶*/
#bottom_top{width:50px;height:50px;position:fixed;bottom:40px;right:20px;z-index:99;font-size:12px;display:none;cursor:pointer}
#bottom_top img{width:100%;display:block;position:absolute;top:0;left:0;border-radius:30px}
#bottom_top span{width:100%;height:100%;padding-top:8px;display:none;position:absolute;top:0;left:0;border-radius:30px;background:#008F82;color:#fff;text-align:center;box-sizing:border-box}
#bottom_top:hover img{display:none}
#bottom_top:hover span{display:block;border-radius:30px}

/************RZ************/
/*.RZcolor i.mob{background-color:#4FA7FF}
.RZcolor i.identity{background-color:#FD787B}
.RZcolor i.edu{background-color:#12D87A}
.RZcolor i.car{background-color:#BC0D27}
.RZcolor i.house{background-color:#f70}
.RZcolor i.qq{background-color:#12B7F5}
.RZcolor i.email{background-color:#fc0}*/
.RZBOX i.ed_color_mob{background-color:#4FA7FF}
.RZBOX i.ed_color_identity{background-color:#FD787B}
.RZBOX i.ed_color_edu{background-color:#12D87A}
.RZBOX i.ed_color_car{background-color:#BC0D27}
.RZBOX i.ed_color_house{background-color:#f70}
.RZBOX i.ed_color_weixin{background-color:#31C93C}
.RZBOX i.ed_color_qq{background-color:#12B7F5}
.RZBOX i.ed_color_email{background-color:#fc0}
.RZBOX i.ed_color_photo{background-color:#54A791}
.RZBOX i.ed_color_love{background-color:#FD66B5}
.RZBOX i.ed_color_pay{background-color:#a06d1c}

.RZBOX{display:inline-block}
.RZBOX .mob:before{content:"\e627";}
.RZBOX .identity:before{content:"\ea2e";}
.RZBOX .edu:before{content:"\e6c0";}
.RZBOX .car:before{content:"\e6b4";}
.RZBOX .house:before{content:"\e7a0";}
.RZBOX .email:before{content:"\e641";}
.RZBOX .weixin:before{content:"\e607";}
.RZBOX .qq:before{content:"\e630";}
.RZBOX .photo:before{content:"\e645";}
.RZBOX .love:before{content:"\e62f";}
.RZBOX .pay:before{content:"\e61a";}

.RZBOX i{background-color:#bbb;text-align:center;display:inline-block;color:#fff;overflow:hidden}
.RZBOX .ed{background-color:#f80;}
.RZBOX .s{width:15px;height:15px;line-height:15px;font-size:12px;margin:0 3px;border-radius:3px}
.RZBOX .m{width:30px;height:30px;line-height:30px;font-size:24px;margin:0 3px;border-radius:6px}
.RZBOX .b{width:60px;height:60px;line-height:60px;font-size:40px;margin:0 10px;border-radius:8px}
.RZBOX .l{width:150px;height:150px;line-height:150px;font-size:100px;margin:0 20px;border-radius:15px}

/************FORM style************/
/*switch*/
.switch{display:none}
.switch-label{position:relative;height:22px;line-height:22px;padding:0 10px;border:1px solid #d2d2d2;border-radius:20px;cursor:pointer;background-color:#fff;display:inline-block;text-align:right;-webkit-user-select:none}
.switch-label i{position:absolute;top:3px;left:5px;width:16px;height:16px;display:inline-block;border-radius:20px;background-color:#d2d2d2;transition:.1s ease-in-out}
.switch-label b{min-width:16px;font-size:12px;font-weight:normal;text-align:center;}
.switch-label b:nth-child(2){color:#fff;display:none;margin-right:16px}
.switch-label b:nth-child(3){color:#999;display:inline-block;margin-left:16px}
.switch:checked + label.switch-label i{background-color:#fff;left:calc(100% - 21px)}
.switch:checked + label.switch-label b:nth-child(2){display:inline-block}
.switch:checked + label.switch-label b:nth-child(3){display:none}
.switch:checked + label.switch-label{background-color:#5EB87B;border-color:#5EB87B;text-align:left}
.switch:disabled + label.switch-label{cursor:not-allowed }
/********checkbox skin********/
@keyframes checkskinBefore{0% {height:0}100%{height:6px}}
@keyframes checkskinAfter{0%{height:0}50%{height:0}100%{height:12px}}
.checkskin{display:none}
.checkskin-label{text-align:left;-webkit-user-select:none;display:inline-block;white-space:nowrap;}
.checkskin-label i{position:relative;box-sizing:border-box;width:20px;height:20px;display:inline-block;border:1px solid #d2d2d2;border-radius:2px;background-color:#fff;-webkit-transition:.1s linear;transition:.1s linear;vertical-align:middle}
.checkskin-label i:before,.checkskin-label i:after{position:absolute;content:'';box-sizing:border-box;background-color:#fff;width:2px;height:0;transform-origin:left top;transition:opacity ease .3}
.checkskin-label i:before{top:9px;left:2px;transform:rotate(-45deg)}
.checkskin-label i:after{top:14px;left:7px;transform:rotate(-135deg)}
.checkskin:checked + label.checkskin-label i:before{height:6px;animation:checkskinBefore 0.2s ease 0s forwards}
.checkskin:checked + label.checkskin-label i:after{height:12px;animation:checkskinAfter 0.4s ease 0s forwards}
.checkskin-label b{vertical-align: middle;display:inline-block;font-weight:normal;margin:0 10px;overflow:hidden}/*font-size:14px*/
.checkskin-label:hover i{border-color:#5FB878}
.checkskin:checked + label.checkskin-label i {background-color:#5FB878;border-color:#5FB878}
.checkskin:disabled + label.checkskin-label{cursor:not-allowed }
.checkskin:disabled + label.checkskin-label b{color:#c2c2c2}
.checkskin:disabled + label.checkskin-label i{border-color:#eee}
/*checkbox skin size1*/
@keyframes checkskinBefore1{0% {height:0}100%{height:5px}}
@keyframes checkskinAfter1{0%{height:0}50%{height:0}100%{height:10px}}
.checkskin-label i.i1{width:16px;height:16px;border-radius:2px;margin-top:-2px}
.checkskin-label i.i1:before{top:7px;left:2px}
.checkskin-label i.i1:after{top:11px;left:6px}
.checkskin-label i.i1 + b{margin:0 5px;margin-top:-2px}/*font-size:12px;*/
.checkskin:checked + label.checkskin-label i.i1:before{height:5px;animation:checkskinBefore1 0.2s ease 0s forwards}
.checkskin:checked + label.checkskin-label i.i1:after{height:10px;animation:checkskinAfter1 0.4s ease 0s forwards}
/*checkbox skin size3*/
@keyframes checkskinBefore3{0%{height:0}100%{height:9px}}
@keyframes checkskinAfter3{0%{height:0}50%{height:0}100%{height:18px}}
.checkskin-label i.i3{width:30px;height:30px;border-radius:2px;margin-top:-2px}
.checkskin-label i.i3:before{top:14px;left:4px;width:3px}
.checkskin-label i.i3:after{top:21px;left:11px;width:3px}
.checkskin-label i.i3 + b{margin:0 5px;margin-top:-2px}
.checkskin:checked + label.checkskin-label i.i3:before{height:9px;animation:checkskinBefore3 0.2s ease 0s forwards}
.checkskin:checked + label.checkskin-label i.i3:after{height:18px;animation:checkskinAfter3 0.4s ease 0s forwards}


/*****radio skin*****/
@keyframes radioskin{0%{transform:scale(0.5)}50%{transform:scale(1.2)}100%{transform:scale(1)}}
.radioskin{display:none}
.radioskin-label{text-align:left;-webkit-user-select:none;display:inline-block;white-space:nowrap;}
.radioskin-label i{position:relative;width:22px;height:22px;box-sizing:border-box;display:inline-block;border:1px solid #c2c2c2;border-radius:20px;background-color:#fff;vertical-align:middle;-webkit-transition:.2s linear;transition:.2s linear}
.radioskin-label i:before{position:absolute;content:'';background-color:#fff;width:10px;height:10px;top:5px;left:5px;border-radius:10px}
.radioskin-label b{vertical-align:middle;display:inline-block;font-weight:normal;margin:0 10px;overflow:hidden}/*font-size:14px;*/
.radioskin:checked + label.radioskin-label i{border-color:#5FB878;animation:radioskin .3s ease-in-out both;animation-duration:.3s}
.radioskin:checked + label.radioskin-label i:before{background-color:#5EB87B}
.radioskin-label:hover i{border-color:#5EB87B}
.radioskin:disabled + label.radioskin-label{cursor:not-allowed }
.radioskin:disabled + label.radioskin-label b{color:#c2c2c2}
.radioskin:disabled + label.radioskin-label i{border-color:#eee}
/*radio skin size1*/
.radioskin-label i.i1{width:16px;height:16px}
.radioskin-label i.i1:before{width:8px;height:8px;top:3px;left:3px}
.radioskin-label i.i1 + b{margin:0 5px}/*font-size:12px;*/


/************zeai win************/
/*mask*/
.mask,.mask0,.mask1{width:100%;height:100%;position:fixed;top:0;left:0;z-index:998;background-color:rgba(0,0,0,.4)}
.mask0{background-color:rgba(255,255,255,0)}
.mask1{background-color:rgba(0,0,0,0.75)}


@keyframes divTopDown {0% {-webkit-transform: translateY(-160px);-ms-transform: translateY(-160px);transform: translateY(-160px)}100% {-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0)}}
.divTopDown {-webkit-animation-name:divTopDown;animation-name:divTopDown;-webkit-animation-duration:0.4s;animation-duration:0.4s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes alpha0_100{0%{opacity:0;}100% {opacity:1;}}
.alpha0_100 {animation:alpha0_100;animation-duration:.3s;-webkit-animation:alpha0_100 .3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes alpha100_0{0%{}100%{opacity:0}}
.alpha100_0 {animation:alpha100_0 .3s ease-out;-webkit-animation:alpha100_0 .3s ease-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes small_big{0%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}
.small_big{-webkit-animation-name:small_big;animation-name:small_big;-webkit-animation-duration:0.2s;animation-duration:0.2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes big_small{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}}
.big_small{-webkit-animation-name:big_small;animation-name:big_small;-webkit-animation-duration:0.2s;animation-duration:0.2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes big_normal{0%{-webkit-transform:scale(2.5);transform:scale(2.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}
.big_normal{animation:big_normal .4s ease-out}

@keyframes fadeInDown{0%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(88px);-ms-transform:translateY(88px);transform:translateY(88px)}}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown;-webkit-animation-duration:0.4s;animation-duration:0.4s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes fadeInUp {0% {-webkit-transform: translateY(88px);-ms-transform: translateY(88px);transform: translateY(88px)}100% {-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0)}}
.fadeInUp {-webkit-animation-name:fadeInUp;animation-name: fadeInUp;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes fadeInL {0% {-webkit-transform: translateX(99px);-ms-transform: translateX(99px);transform: translateX(99px)}100% {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0)}}
.fadeInL {-webkit-animation-name:fadeInL;animation-name:fadeInL;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes fadeInR {0% {-webkit-transform: translateX(-99px);-ms-transform: translateX(-99px);transform: translateX(-99px)}100% {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0)}}
.fadeInR {-webkit-animation-name:fadeInR;animation-name:fadeInR;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes agreefly{
	0%{-webkit-transform:translateY(0);transform:translateY(0)}
	25%{-webkit-transform:translate(-10px,-30px);transform:translate(-10px,-30px)}
	100%{opacity:0;-webkit-transform:translateY(-70px);transform:translateY(-70px)}}
.agreefly{-webkit-animation-name:fadeInDown;animation-name:agreefly;-webkit-animation-duration:1.5s;animation-duration:1.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes shake{0% {transform:rotate(1deg);}50% {transform:rotate(0deg);}100% {transform:rotate(-1deg);}}
.shake{animation:shake .1s linear infinite;animation-duration:.1s}

@keyframes breath{0% {}50% {transform:scale(.9);}100% {}}
.breath{animation:breath 1s linear infinite;animation-duration:1s}

@keyframes alpha0_100_0{
	0% {opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}
	30% {opacity: 0.75;-webkit-transform:translateY(0);transform:translateY(0)}
	70% {opacity: 0.75;-webkit-transform:translateY(0);transform:translateY(0)}
	100% {opacity: 0;-webkit-transform:translateY(-10px);transform:translateY(-10px)}
}  
.alpha0_100_0 {animation:alpha0_100_0;animation-duration:2s;-webkit-animation:alpha0_100_0 2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@keyframes shakeLR {
	0% {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0)}
	50% {-webkit-transform: translateX(30px);-ms-transform: translateX(30px);transform: translateX(30px)}
	100% {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0)}
}
.shakeLR {animation:shakeLR .1s linear}.shakeLR_loop {animation:shakeLR .1s linear infinite;}
