.dating h1{font-size:18px;font-weight:bold;text-align:center;width:109px;line-height:40px;margin:0 auto 15px auto;position:relative}
.dating h1:after{content:'';display:block;height:3px;width:22%;margin:0 auto;height:3px;background-color:#FD66B5;display:block}
.dating .box{border-radius:8px;background-color:#fff;padding:20px 30px;min-height:236px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;margin-bottom:25px}
.dating .box:hover{box-shadow:0 0 24px rgba(0,0,0,0.08)}

.datingkind{width:100%;clear:both;margin:10px auto;border-bottom:#eee 0px solid;padding-bottom:30px}
.datingkind .kind {width:720px;margin:0 auto}
.datingkind .kind a{width:120px;float:left;text-align:center;color:#666}
.datingkind .kind a i{width:50px;height:50px;line-height:50px;border-radius:30px;background-color:#ccc;font-size:30px;color:#fff}
.datingkind .kind a span{display:block;margin:15px auto 0 auto;font-size:14px;}
.datingkind .kind a:nth-child(1) i{background-color:#EE5E7B;font-size:26px}
.datingkind .kind a:nth-child(2) i{background-color:#bbbe90;font-size:32px}
.datingkind .kind a:nth-child(3) i{background-color:#ffc485}
.datingkind .kind a:nth-child(4) i{background-color:#7ad073}
.datingkind .kind a:nth-child(5) i{background-color:#b4aad4}
.datingkind .kind a:nth-child(6) i{background-color:#7ad3e9}
.datingkind .kind a:nth-child(7) i{background-color:#f3849b}
.datingkind .kind a.ed span{color:#FD66B5}
.datingkind .kind a.ed i{background-color:#FD66B5}

.main{width:1200px;margin:30px auto;clear:both;overflow:auto}
.main .datingL{width:820px;float:left}
.main .datingR{width:355px;float:right}
.main .datingL .list{min-height:1241px}
.main .datingL .list dl{width:100%;height:280px;overflow:hidden;border-bottom:#eee 1px solid;position:relative;background-color:#fff;padding:10px 0;margin-bottom:12px}
.main .datingL .list dl dt{width:160px;height:280px;float:left}
.main .datingL .list dl dt p{width:160px;height:200px;background-size:cover;background-position:center center;background-repeat:no-repeat}
.main .datingL .list dl dt .uinfo{padding:8px 0;border:#eee 1px solid;border-top:0;text-align:center;color:#666}
.main .datingL .list dl dt .uinfo h5:first-child{font-size:14px}
.main .datingL .list dl dt .uinfo h5{line-height:24px;font-size:12px}

.main .datingL .list dl dd{text-align:left;width:400px;float:left;margin-left:30px}
.main .datingL .list dl dd h2{font-size:16px;margin-bottom:10px}
.main .datingL .list dl dd li{text-align:left;line-height:30px;color:#666}
.main .datingL .list dl dd li font{color:#999}
.main .datingL .list dl dd li .C{line-height:150%}

.timetext{line-height:20px;padding-top:1px;float:left}
.main .datingL .list dl em{position:absolute;right:0;top:20px;width:150px;height:170px;background-color:#fff;border:#eee 1px solid;font-size:12px}
.main .datingL .list dl em li{line-height:24px;color:#8d8d8d;margin:4px auto}
.main .datingL .list dl em li:first-child {font-size:14px;margin-top:15px}
.main .datingL .list dl em li span{color:#FD66B5;font-size:18px;font-weight:bold;margin:0 2px}
.main .datingL .list dl em li font{color:#FD66B5;margin:0 2px}
.main .datingL .list dl em li:last-child{margin-top:15px}
.main .datingL .list dl em li:last-child a{width:65%;display:inline-block;line-height:36px;border:#ddd 1px solid;color:#666;border-radius:3px;font-size:14px}
.main .datingL .list dl em li:last-child a:hover{background-color:#FD66B5;border-color:#FD66B5;color:#fff}
.main .datingL .list dl em li:last-child a.ed{background-color:#FD66B5;border-color:#FD66B5;color:#fff}
.main .datingL .list dl em li:last-child a.ed:hover{background-color:#E83191;border-color:#E83191}

.main .datingL .list .bmlist{margin-top:20px}
.main .datingL .list .bmlist img{display:block;width:36px;height:36px;margin:0 3px;float:left;border-radius:20px}
.main .datingL .list .bmlist span{font-size:14px;color:#999;width:100px;line-height:36px;display:inline-block;float:left;box-sizing:border-box}
.main .zeaipagebox{margin-bottom:30px}

.main .datingR .safetips{text-align:left;color:#888;line-height:200%}
.main .datingR .addbox a{width:98%;background-color:#f0f0f0;display:block;line-height:44px;line-height:44px;margin:20px auto;border:#fff 1px solid;color:#666;border-radius:3px;font-size:14px}
.main .datingR .addbox a.ed,.main .datingR .addbox a:hover{background-color:#FD66B5;color:#fff;border-color:#FD66B5}
.main .datingR .form{padding-bottom:20px}
.main .datingR .form dl{width:100%;height:40px;clear:both;margin-bottom:10px}
.main .datingR .form dl dt{width:70px;margin:0 10px 0 0px;float:left;color:#999;line-height:40px}
.main .datingR .form dl dd{width:200px;float:left;text-align:left;line-height:40px}
.main .datingR .form dl dd button{margin-top:10px;font-size:14px}
.SW{width:100%}.SW2{width:100%;margin-bottom:10px}

/*dtl*/
.datingL .C{position:relative}
.datingL .C h1{width:100%}
.datingL .C h1:after{width:30px}
.datingL .C .CC dl{width:100%;overflow:hidden;position:relative;margin:13px auto}
.datingL .C .CC dl dt,.datingL .C .CC dl dd{float:left;line-height:30px}
.datingL .C .CC dl dt{width:65px;color:#8d8d8d;margin-left:5px;margin-right:20px}
.datingL .C .CC dl dd{width:640px;color:#E83191;text-align:left}
.datingL .C .CC dl:nth-child(10) dd{color:#8d8d8d}
.datingL .C .CC dl:nth-child(10) dd span{color:#E54375}
.datingL .C .CC dl dd font{color:#333;line-height:20px;display:inline-block;padding:5px 15px;border:#eee 1px solid;background-color:#f9f9f9;border-radius:22px}
.datingL .C .CC .bmform{width:95%;text-align:center;margin:0 auto}
.datingL .C .CC .bmform textarea{width:100%;background-color:#fafafa;height:120px;padding:2%;margin:20px 0 9px 0;line-height:150%;color:#666}
.datingL .C .CC .bmform span{font-size:12px;color:#999;display:block;margin:11px 0 5px}
.datingL .C .size4{margin:20px auto 43px auto}
.datingL .C em{position:absolute;right:45px;top:98px;width:200px;height:230px;border:#eee 1px solid;font-size:12px;text-align:center}
.datingL .C em li{line-height:32px;color:#8d8d8d;margin:4px auto}
.datingL .C em li:first-child {font-size:14px;margin-top:15px}
.datingL .C em li span{color:#FD66B5;font-size:18px;font-weight:bold;margin:0 2px}
.datingL .C em li font{color:#FD66B5;margin:0 2px}
.datingL .C em li:nth-child(2) font{color:#999;font-weight:bold;font-size:16px}
.datingL .C em li:last-child{margin-top:12px}
.datingL .C em li:last-child a{width:60%;display:inline-block;line-height:36px;background-color:#FD66B5;color:#fff;font-size:14px;border-radius:3px}
.datingL .C em li:last-child a:hover{background-color:#E83191}
.datingL .C em li:last-child a.disable{color:#fff;background-color:#ccc;cursor:not-allowed}

.datingR .Uinfo{position:relative;padding:15px 0}
.datingR .Uinfo p{width:100px;height:100px;border-radius:50px;background-size:cover;background-position:center center;background-repeat:no-repeat}
.datingR .Uinfo em{position:absolute;left:120px;top:0;text-align:left}
.datingR .Uinfo em h5:first-child{font-size:16px;color:#333;margin-top:10px}
.datingR .Uinfo em h5{line-height:34px;font-size:14px;color:#888}

/*ulist*/
.datingR ul{clear:both;overflow:auto}
.datingR ul.ulist a{width:25%;float:left;margin:10px 0;text-align:center;display:block}
.datingR ul.ulist a img.photo_s{width:50px;height:50px;display:block;margin:0 auto;border-radius:30px}
.datingR ul.ulist a span{width:100%;line-height:14px;color:#666;margin-top:10px;display:block;font-size:12px;overflow:hidden}
