.tablelist{width:98%;border-collapse:collapse;margin:0 auto;text-align:left}
.tablelist .pic{padding:20px 0}
.tablelist td{padding:20px 0;word-break:break-all;word-wrap:break-word;font-size:14px;border-bottom:#f5f5f5 1px solid}
.tablelist .content img{width:60px;display:block;border-radius:3px}
.tablelist .content .aQING{display:inline-block;margin-top:5px}
.timebox{width:80px;height:65px;padding:10px 0 10px 0;background-color:#E9E2DB;border-radius:3px;text-align:center;color:#A28362;position:relative;font-size:12px}
.timebox b{font-size:30px;margin-right:5px}
.timebox font{display:inline-block}
.timebox .zj{width:0;height:0;left:80px;top:30px;position:absolute;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid #E9E2DB}
.content img{margin-top:8px;max-width:100px}
.my_trend h1,.tablelist .content{font-size:14px;font-weight:normal;color:#666;margin-bottom:5px}
.my_trend .vbox{width:80px;height:80px;display:block;line-height:80px;margin:0 10px 20px 10px;background-color:#fff;position:relative;text-align:center;-webkit-tap-highlight-color:rgba(0,0,0,0);float:left;box-sizing:border-box;border-radius:5px;cursor:pointer}
.my_trend .vbox img{vertical-align:middle;width:80px;height:80px;border-radius:5px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.my_trend .vbox strong .play{width:40px;height:40px;line-height:40px;font-size:40px;position:absolute;top:28px;left:20px;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;color:#fff}
.my_trend .vbox strong:hover .play{filter:alpha(opacity=100);-moz-opacity:1;opacity:1}
.my_trend .vbox .zeaiVbox{display:none}
.my_trend .piclist{clear:both;overflow:auto;margin-top:8px}
.my_trend .piclist img{width:60px;height:60px;float:left;margin-right:5px;cursor:zoom-in;border-radius:3px}
.trend_add{padding:20px 30px }
.trend_add button{width:30%;margin:15px auto 0 auto}
.trend_add h1{font-size:20px;font-weight:bold;display:block;text-align:left;margin-bottom:20px}
#trendbox{background-color:#fff;width:100%;clear:both;overflow:auto}
#trendbox textarea{width:100%;height:100px;padding:10px;background-color:#fff;line-height:200%;font-size:16px;border:0;margin:10px 0 0;resize:none;border:#ddd 1px solid;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
#trendbox textarea:hover{background-color:#f9f9f9}
#trendbox h4{width:100%;text-align:right;color:#999;font-size:13px;margin:5px 0}
#trendbox ul li{width:80px;height:80px;line-height:80px;border-radius:2px;margin:0 28px 15px 0;float:left;position:relative;text-align:center;-webkit-tap-highlight-color:rgba(0,0,0,0)}
#trendbox ul li:first-child,#trendbox ul li b{background-image:url('../../res/picadd.png?3');background-size:120px 80px;background-repeat:no-repeat}
#trendbox ul li:first-child{width:78px;height:78px;background-position:left top;border:#ddd 1px solid;cursor:pointer}
#trendbox ul li:nth-child(n+2):hover{cursor:pointer;background-color:#000;cursor:zoom-in}
#trendbox ul li:hover img{filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}
#trendbox ul li img{width:100%;height:100%;border-radius:3px;display:block}
#trendbox ul li b{width:20px;height:20px;top:-10px;right:-10px;display:block;position:absolute;border-radius:10px;background-position:-80px top;display:block;box-shadow:0 0 5px rgba(0,0,0,0.3);z-index:9}
#trendbox ul li b:hover{background-position:-100px top;cursor:pointer}